<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>
  <!--appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="consultarAPGBapinesClient"

        contract="ConsultarAPGBapinesServiceReference.consultarAPGBapines"

        address="https://tws-si.mecon.gov.ar/ws/entidades_basicas/consultarAPGBapinesService"
      binding="webHttpBinding" bindingConfiguration="ConsultarAPGBapinesServiceHttpBinding"

      behaviorConfiguration="webHttpBehavior">
      </endpoint>
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="ConsultarAPGBapinesServiceHttpBinding" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00"
                  sendTimeout="00:01:00"
                  allowCookies="false" bypassProxyOnLocal="false"
                  hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65536" maxBufferPoolSize="524288"
                  maxReceivedMessageSize="65536"
                  transferMode="Buffered"
                  useDefaultWebProxy="true"         >
      <readerQuotas maxDepth="32"
        maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="Transport">

      </security>
    </binding>
    </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CallbackService.Server.MyService">
        <endpoint address="" binding="wsDualHttpBinding" contract="CallbackService.Server.IMyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://tws8-si.mecon.gov.ar/SD_Core/ws/" />
          </baseAddresses>
        </host>
      </service>
    </services>
<!--
    <bindings>
      <binding name="MyBinding" >
        <textMessageEncoding messageVersion="Soap11"/>
        <security authenticationMode="MutualCertificate" enableUnsecuredResponse="true" allowSerializedSigningTokenOnReply="true"
                  messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                  includeTimestamp="false">
        </security>
        <httpsTransport />
      </binding>
      <customBinding/>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx"
                               storeLocation="CurrentUser" storeName="My"
                               x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx xx"
                                  storeLocation="CurrentUser" storeName="My"
                                  x509FindType="FindByThumbprint"/>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://secure.aduana.gov.py/test/tere/serviciotere"
        binding="customBinding" bindingConfiguration="MyBinding"
        contract="serviciotereSoap" name="serviciotereSoap"  behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="tere_test"/>
        </identity>
      </endpoint>
    </client>-->
  </system.serviceModel>

  <system.net>
      <defaultProxy>
        <proxy bypassonlocal="false" usesystemdefault="true"   /><!--proxyaddress="http://127.0.0.1:8888"-->
      </defaultProxy>
    </system.net>

</configuration>
