.menutop
{
	margin: 0;
	padding:0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
    /*background: #336699;
    text-decoration: none; 
    width:80px; 
    text-align: center;
    border: none 0px; 
    /*padding: 5px;*/
	/*border-bottom: 0;*/
}
.menutoppopup
{
    background-color: #99ccff;
    text-decoration: none; 
    height: 24px; 
    width:80px; 
    text-align: center;
    border: none 0px; 
   /* padding: 5px;*/
	border-bottom: 0;
}
.menutop a
{
    display: block;
	cursor: pointer;
	background-color: #336699;
	padding-bottom:0.15em;
	padding-top:0.35em;
	padding-right:0.75em;
	padding-left:0.75em;
	color: #ffffff;
	text-decoration: none;
	/*background-image: url(../images/up.jpg);*/
	background-repeat: repeat-x;
	font-size:10pt;
	text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
}


.menutopover
{
	
	background-color: #336699;
	color: #99CCFF;
	
}
	
.menutopover a
{
	background-color: #336699;
	color: #99CCFF;
	
	
}
.menuchild
{
	 display: block;
	cursor: pointer;
	background-color: #336699;
	
	padding-top:0em;
	padding-bottom:0em;
	margin-bottom:0em;
	margin-left:2;
	color: #ffffff;
	
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
	background: #336699 ;
    width: 220px; 
    border: 0px; 
    text-align: left; 
    color: #ffffff;
   /* margin-top:-4px;*/
	
	/*list-style-type: none;
	font-size: 100%;*/
	z-index: 1020;
	/*cursor: default;
	position: absolute;
	left: -1000em;*/

}
.menuchild a
{   width: 180px;
    padding-bottom:0.3em; 
    padding-top:0.3em;
    margin-left: 10px;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: auto;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;

}
.menuchildover  
{
  	background-color: #336699;
	color: #99CCFF;
}
.menuchildover a
{
   background-color: #336699;
	color: #99CCFF;
	
}
