USE [bapin]
GO
/****** Object:  Table [dbo].[Matching_ImportSidif]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_ImportSidif') 
DROP TABLE Matching_ImportSidif

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_InfoPresupuesto') 
DROP TABLE Matching_InfoPresupuesto

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_InfoPresupuestoAgrupado') 
DROP TABLE Matching_InfoPresupuestoAgrupado

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_Log') 
DROP TABLE Matching_Log

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_ProyectosVinculados') 
DROP TABLE Matching_ProyectosVinculados

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_RegistroActualizacionProceso') 
DROP TABLE Matching_RegistroActualizacionProceso

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_SidifProcesado') 
DROP TABLE Matching_SidifProcesado

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_tmpGastosBapin') 
DROP TABLE Matching_tmpGastosBapin

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_tmpImportSidif') 
DROP TABLE Matching_tmpImportSidif

IF EXISTS  (SELECT 
             TABLE_NAME 
         FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Matching_tmpProyectosCandidatos') 
DROP TABLE Matching_tmpProyectosCandidatos



IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_ImportSidif]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_ImportSidif](
	[Ejercicio Presupuestario] [int] NULL,
	[Cod# 3 Dígitos] [int] NULL,
	[Desc# 3 Dígitos] [nvarchar](255) NULL,
	[Cod# Jurisdicción] [int] NULL,
	[Desc# Jurisdicción] [nvarchar](255) NULL,
	[Cod# Servicio] [int] NULL,
	[Desc# Larga Servicio] [nvarchar](255) NULL,
	[Cod# Programa] [int] NULL,
	[Desc# Programa] [nvarchar](255) NULL,
	[Cod# Subprograma] [int] NULL,
	[Desc# Subprograma] [nvarchar](255) NULL,
	[Cod# Proyecto] [int] NULL,
	[Desc# Proyecto] [nvarchar](255) NULL,
	[Cod# Actividad] [int] NULL,
	[Desc# Actividad] [nvarchar](255) NULL,
	[Cod# Obra] [int] NULL,
	[Desc# Obra] [nvarchar](255) NULL,
	[Cod# Procedencia] [int] NULL,
	[Desc# Procedencia] [nvarchar](255) NULL,
	[Cod# Fuente] [int] NULL,
	[Desc# Fuente] [nvarchar](255) NULL,
	[Cod# Inciso] [int] NULL,
	[Desc# Inciso] [nvarchar](255) NULL,
	[Cod# Principal] [int] NULL,
	[Desc# Principal] [nvarchar](255) NULL,
	[Cod# Parcial] [int] NULL,
	[Desc# Parcial] [nvarchar](255) NULL,
	[Cod# Subparcial] [int] NULL,
	[Desc# Subparcial] [nvarchar](255) NULL,
	[Desc# Finalidad] [nvarchar](255) NULL,
	[Cod# Finalidad] [int] NULL,
	[Cod# Función] [int] NULL,
	[Desc# Función] [nvarchar](255) NULL,
	[Cod# Ubicación Geográfica] [int] NULL,
	[Desc# Ubicación Geográfica] [nvarchar](255) NULL,
	[$Cred# Inicial] [float] NULL,
	[$Cred# Vigente] [float] NULL,
	[$Devengado] [float] NULL,
	[$Pagado] [float] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_InfoPresupuesto]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_InfoPresupuesto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_InfoPresupuesto](
	[IdentificadorProyectoSidif] [nvarchar](76) NULL,
	[EjercicioPresupuestario] [int] NULL,
	[MesSidif] [nvarchar](2) NULL,
	[CodTipo] [int] NULL,
	[Tipo] [nvarchar](255) NULL,
	[CodJurisdiccion] [nvarchar](10) NULL,
	[Jurisdiccion] [nvarchar](255) NULL,
	[CodSAF] [nvarchar](10) NULL,
	[SAF] [nvarchar](255) NULL,
	[CodPrograma] [nvarchar](10) NULL,
	[Programa] [nvarchar](255) NULL,
	[CodSubprograma] [nvarchar](10) NULL,
	[Subprograma] [nvarchar](255) NULL,
	[CodProyecto] [nvarchar](10) NULL,
	[Proyecto] [nvarchar](255) NULL,
	[CodActividad] [nvarchar](10) NULL,
	[Actividad] [nvarchar](255) NULL,
	[CodObra] [nvarchar](10) NULL,
	[Obra] [nvarchar](255) NULL,
	[AperturaProgramatica] [nvarchar](40) NULL,
	[AperturaPresupuestaria] [nvarchar](30) NULL,
	[SidifPeriodo] [varchar](5) NULL,
	[CodProcedencia] [int] NULL,
	[Procedencia] [nvarchar](255) NULL,
	[CodFuenteFinanciamiento] [int] NULL,
	[FuenteFinanciamiento] [nvarchar](255) NULL,
	[CodInciso] [int] NULL,
	[Inciso] [nvarchar](255) NULL,
	[CodPrincipal] [int] NULL,
	[Principal] [nvarchar](255) NULL,
	[CodParcial] [int] NULL,
	[Parcial] [nvarchar](255) NULL,
	[CodSubparcial] [int] NULL,
	[SubParcial] [nvarchar](255) NULL,
	[CodFinalidad] [nvarchar](255) NULL,
	[Finalidad] [int] NULL,
	[CodFuncion] [int] NULL,
	[Funcion] [nvarchar](255) NULL,
	[CodUbiGeo] [int] NULL,
	[UbiGeo] [nvarchar](255) NULL,
	[CredInicial] [float] NULL,
	[CredVigente] [float] NULL,
	[Devengado] [float] NULL,
	[Pagado] [float] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_InfoPresupuestoAgrupado]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_InfoPresupuestoAgrupado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_InfoPresupuestoAgrupado](
	[IdentificadorProyectoSidif] [nvarchar](76) NULL,
	[EjercicioPresupuestario] [int] NULL,
	[MesSidif] [nvarchar](2) NULL,
	[CodJurisdiccion] [nvarchar](10) NULL,
	[Jurisdiccion] [nvarchar](255) NULL,
	[CodSAF] [nvarchar](10) NULL,
	[SAF] [nvarchar](255) NULL,
	[CodPrograma] [nvarchar](10) NULL,
	[Programa] [nvarchar](255) NULL,
	[CodSubprograma] [nvarchar](10) NULL,
	[Subprograma] [nvarchar](255) NULL,
	[CodProyecto] [nvarchar](10) NULL,
	[Proyecto] [nvarchar](255) NULL,
	[CodActividad] [nvarchar](10) NULL,
	[Actividad] [nvarchar](255) NULL,
	[CodObra] [nvarchar](10) NULL,
	[Obra] [nvarchar](255) NULL,
	[AperturaProgramatica] [nvarchar](40) NULL,
	[AperturaPresupuestaria] [nvarchar](30) NULL,
	[CreditoInicial] [float] NULL,
	[CreditoVigente] [float] NULL,
	[Devengado] [float] NULL,
	[Pagado] [float] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_Log]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_Log]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_Log](
	[IDOperacion] [uniqueidentifier] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
 CONSTRAINT [PK_Matching_Log] PRIMARY KEY CLUSTERED 
(
	[IDOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG]
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_ProyectosVinculados]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_ProyectosVinculados]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_ProyectosVinculados](
	[IdentificadorProyectoSidif] [nvarchar](76) NULL,
	[EjercicioPresupuestario] [int] NULL,
	[MesSidif] [nvarchar](2) NULL,
	[AperturaProgramatica] [nvarchar](40) NULL,
	[AperturaPresupuestaria] [nvarchar](30) NULL,
	[CreditoInicial] [float] NULL,
	[CreditoVigente] [float] NULL,
	[Pagado] [float] NULL,
	[Devengado] [float] NULL,
	[CodigoProyectoBAPIN] [int] NULL,
	[ProyectoDenominacion] [varchar](500) NULL,
	[Estimado] [money] NULL,
	[Realizado] [money] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_RegistroActualizacionProceso]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_RegistroActualizacionProceso]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_RegistroActualizacionProceso](
	[IDOperacion] [uniqueidentifier] NOT NULL,
	[Observaciones] [nvarchar](300) NULL,
	[FechaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Matching_RegistroActualizacionProceso] PRIMARY KEY CLUSTERED 
(
	[IDOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG]
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_SidifProcesado]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_SidifProcesado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_SidifProcesado](
	[CodJurisdiccion] [nvarchar](10) NULL,
	[Jurisdiccion] [nvarchar](255) NULL,
	[CodSaf] [nvarchar](10) NULL,
	[SAF] [nvarchar](255) NULL,
	[CodPrograma] [nvarchar](10) NULL,
	[Programa] [nvarchar](255) NULL,
	[CodSubprograma] [nvarchar](10) NULL,
	[Subprograma] [nvarchar](255) NULL,
	[CodProyecto] [nvarchar](10) NULL,
	[Proyecto] [nvarchar](255) NULL,
	[CodActividad] [nvarchar](10) NULL,
	[Actividad] [nvarchar](255) NULL,
	[CodObra] [nvarchar](10) NULL,
	[Obra] [nvarchar](255) NULL,
	[AperturaProgramatica] [nvarchar](40) NULL,
	[AperturaPresupuestaria] [nvarchar](30) NULL,
	[SidifDevengado] [float] NULL,
	[SidifPagado] [float] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_tmpGastosBapin]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_tmpGastosBapin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_tmpGastosBapin](
	[IdProyecto] [int] NOT NULL,
	[IdProyectoEtapa] [int] NOT NULL,
	[IdEtapa] [int] NOT NULL,
	[NroEtapa] [int] NULL,
	[Nombre] [varchar](500) NOT NULL,
	[Estimado] [money] NULL,
	[Realizado] [money] NULL,
	[ActividadObra] [nvarchar](12) NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_tmpImportSidif]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_tmpImportSidif]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_tmpImportSidif](
	[Ejercicio Presupuestario] [int] NULL,
	[Cod# 3 Dígitos] [int] NULL,
	[Desc# 3 Dígitos] [nvarchar](255) NULL,
	[Cod# Jurisdicción] [int] NULL,
	[Desc# Jurisdicción] [nvarchar](255) NULL,
	[Cod# Servicio] [int] NULL,
	[Desc# Larga Servicio] [nvarchar](255) NULL,
	[Cod# Programa] [int] NULL,
	[Desc# Programa] [nvarchar](255) NULL,
	[Cod# Subprograma] [int] NULL,
	[Desc# Subprograma] [nvarchar](255) NULL,
	[Cod# Proyecto] [int] NULL,
	[Desc# Proyecto] [nvarchar](255) NULL,
	[Cod# Actividad] [int] NULL,
	[Desc# Actividad] [nvarchar](255) NULL,
	[Cod# Obra] [int] NULL,
	[Desc# Obra] [nvarchar](255) NULL,
	[Cod# Procedencia] [int] NULL,
	[Desc# Procedencia] [nvarchar](255) NULL,
	[Cod# Fuente] [int] NULL,
	[Desc# Fuente] [nvarchar](255) NULL,
	[Cod# Inciso] [int] NULL,
	[Desc# Inciso] [nvarchar](255) NULL,
	[Cod# Principal] [int] NULL,
	[Desc# Principal] [nvarchar](255) NULL,
	[Cod# Parcial] [int] NULL,
	[Desc# Parcial] [nvarchar](255) NULL,
	[Cod# Subparcial] [int] NULL,
	[Desc# Subparcial] [nvarchar](255) NULL,
	[Desc# Finalidad] [nvarchar](255) NULL,
	[Cod# Finalidad] [int] NULL,
	[Cod# Función] [int] NULL,
	[Desc# Función] [nvarchar](255) NULL,
	[Cod# Ubicación Geográfica] [int] NULL,
	[Desc# Ubicación Geográfica] [nvarchar](255) NULL,
	[$Cred# Inicial] [float] NULL,
	[$Cred# Vigente] [float] NULL,
	[$Devengado] [float] NULL,
	[$Pagado] [float] NULL
) ON [FG]
END
GO
/****** Object:  Table [dbo].[Matching_tmpProyectosCandidatos]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matching_tmpProyectosCandidatos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Matching_tmpProyectosCandidatos](
	[IdProyecto] [int] NOT NULL,
	[ProyectoDenominacion] [varchar](500) NOT NULL,
	[ProyectoDescripcion] [varchar](max) NULL,
	[CodigoProyectoBAPIN] [int] NOT NULL,
	[CodigoJurisdiccion] [varchar](15) NULL,
	[Nombre] [varchar](120) NULL,
	[IdJurisdiccion] [int] NULL,
	[IdSaf] [int] NULL,
	[CodigoSAF] [varchar](5) NULL,
	[SAF_Denominacion] [varchar](255) NULL,
	[CodigoPrograma] [varchar](3) NULL,
	[Programa] [varchar](255) NULL,
	[CodigoSubprograma] [varchar](3) NULL,
	[SubPrograma] [varchar](255) NULL,
	[ProgramaEnSubPrograma] [int] NULL,
	[NroProyecto] [nvarchar](10) NULL,
	[AperturaProgramatica] [nvarchar](40) NULL,
	[MesAnio] [varchar](8) NULL,
	[Anio] [int] NULL,
	[Mes] [int] NULL
) ON [FG] TEXTIMAGE_ON [FG]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Matching___Fecha__5BB889C0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Matching_RegistroActualizacionProceso] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_DesvincularProyecto]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_DesvincularProyecto]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_DesvincularProyecto] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_DesvincularProyecto]  @IdentificadorUnico nvarchar(100), @intIdUsuario int 
/*
Procedimiento para realizar la desvinculación manual de un proyecto
Para ello elimina el registro de la tabla Matching_ProyectosVinculados
Y luego indica quién ha sido el usuario que ha realizado la operación
*/
AS

--Elimina el proyecto de MatchingVinculado
BEGIN TRAN
Delete from Matching_ProyectosVinculados where IdentificadorProyectoSidif=@IdentificadorUnico;

--Relizo la búsqueda del usuario
DECLARE @Usuario nvarchar(100)
SET @Usuario= (Select NombreUsuario from Usuario where IdUsuario=@intIdUsuario)
DECLARE @Observaciones nvarchar(200)
SET @Observaciones= 'Desvinculación Proyecto: ' + @IdentificadorUnico 


--Guardo la acción del usuario
Exec [sp_Matching_LogAccionesUsuario] @Observaciones, @intIdUsuario,@Usuario
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_AperturaPresupuestaria]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_AperturaPresupuestaria]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_AperturaPresupuestaria] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_Filtro_AperturaPresupuestaria] @intIdJurisdic int, @intIdSAF int, @intIdPro int, @intIdSubPro int
AS
/*Proceso para la genearación de AperturaPresupuestaria de acuerdo a los valores del filtro selectados en la pantalla Principal*/
DECLARE @CodJurisdiccion nvarchar(10), @CodSaf nvarchar(10), @CodPrograma nvarchar(10), @CodSubprograma nvarchar(10), @AperturaProgramatica nvarchar(100)

SET @CodJurisdiccion=(SELECT CASE WHEN LEN(CAST(Codigo as nvarchar(10)))= 1 THEN Cast('0' + cast(Codigo as nvarchar(10)) as nvarchar(10)) ELSE Cast(Codigo as nvarchar(10)) END FROM Jurisdiccion WHERE IdJurisdiccion=@intIdJurisdic)
SET @CodSaf=(SELECT CASE WHEN LEN(CAST(Codigo as nvarchar(10)))= 1 THEN Cast('0' + cast(Codigo as nvarchar(10)) as nvarchar(10)) ELSE Cast(Codigo as nvarchar(10)) END FROM Saf WHERE IdSaf=@intIdSAF)
SET @CodPrograma=(SELECT CASE WHEN LEN(CAST(Codigo as nvarchar(10)))= 1 THEN Cast('0' + cast(Codigo as nvarchar(10)) as nvarchar(10)) ELSE Cast(Codigo as nvarchar(10)) END FROM Programa WHERE IdPrograma=@intIdPro)
SET @CodSubprograma=(SELECT CASE WHEN LEN(CAST(Codigo as nvarchar(10)))= 1 THEN Cast('0' + cast(Codigo as nvarchar(10)) as nvarchar(10)) ELSE Cast(Codigo as nvarchar(10)) END FROM SubPrograma WHERE IdSubPrograma=@intIdSubPro)

SET @AperturaProgramatica=ISNULL(@CodJurisdiccion,'')+ISnull(@CodSaf,'')+ISNULL(@CodPrograma,'')+ISNULL(@CodSubprograma,'')
SELECT @AperturaProgramatica as AperturaPresupuestaria


GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_Jurisdiccion]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_Jurisdiccion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_Jurisdiccion] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Matching_Filtro_Jurisdiccion] 
AS
SELECT IdJurisdiccion, (cast (Codigo as nvarchar (100) ) + ' - ' + Nombre) as Descripcion  
FROM Jurisdiccion WHERE Activo=1


GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_NoVinculado_Jurisdiccion]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_NoVinculado_Jurisdiccion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_NoVinculado_Jurisdiccion] AS' 
END
GO
ALTER PROCEDURE  [dbo].[sp_Matching_Filtro_NoVinculado_Jurisdiccion]
/*Filtro de Jurisdicción para la sección Proyectos No Vinculados*/
AS
SELECT Distinct  CodJurisdiccion, CodJurisdiccion + ' - ' + Jurisdiccion as Descripcion from Matching_InfoPresupuestoAgrupado order by 1

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_NoVinculado_Programa]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_NoVinculado_Programa]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_NoVinculado_Programa] AS' 
END
GO
ALTER PROCEDURE  [dbo].[sp_Matching_Filtro_NoVinculado_Programa] @CodSAF nvarchar(10)
/*Filtro de Programa para la sección Proyectos No Vinculados*/
AS

SELECT Distinct  CodPrograma, CodPrograma + ' - ' + Programa as Descripcion from Matching_InfoPresupuestoAgrupado 
WHERE CodSAF=@CodSAF 
ORDER BY 1

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_NoVinculado_SAF]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_NoVinculado_SAF]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_NoVinculado_SAF] AS' 
END
GO
ALTER PROCEDURE  [dbo].[sp_Matching_Filtro_NoVinculado_SAF] @CodJurisdiccion nvarchar(10)
/*Filtro de Jurisdicción para la sección Proyectos No Vinculados*/
AS
SELECT Distinct  CodSAF, CodSAF + ' - ' + SAF as Descripcion from Matching_InfoPresupuestoAgrupado 
where CodJurisdiccion=@CodJurisdiccion
order by 1

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_NoVinculado_SubPrograma]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_NoVinculado_SubPrograma]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_NoVinculado_SubPrograma] AS' 
END
GO
ALTER PROCEDURE  [dbo].[sp_Matching_Filtro_NoVinculado_SubPrograma] @CodPrograma nvarchar(10)
/*Filtro de SubPrograma para la sección Proyectos No Vinculados*/
AS

SELECT Distinct  CodSubprograma, CodSubprograma + ' - ' + Subprograma as Descripcion from Matching_InfoPresupuestoAgrupado 
WHERE CodPrograma=@CodPrograma
ORDER BY 1

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_Programa]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_Programa]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_Programa] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_Filtro_Programa] @intIDSaf integer
AS
--Procedimiento para Traer los datos de Programa de acuerdo al SAF
SELECT IdPrograma, (CAST (Codigo as nvarchar(100)) + ' - ' + Nombre) as Descripcion FROM PROGRAMA 
WHERE idSaf =@intIDSaf and Activo=1


GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_SAF]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_SAF]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_SAF] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Matching_Filtro_SAF] @intIdJurisdiccion integer
AS
--Procedimiento para Traer los datos de SAF de acuerdo a la jursidicción
SELECT IdSaf,(CAST (Codigo as nvarchar (100) )+ ' - ' +  Denominacion) as Descripcion FROM SAF 
WHERE IdJurisdiccion in (SELECT IdJurisdiccion from Jurisdiccion
 where IdJurisdiccion=@intIdJurisdiccion) and Activo=1




GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_Filtro_SubPrograma]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_Filtro_SubPrograma]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_Filtro_SubPrograma] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_Filtro_SubPrograma] @intPrograma integer
AS
--Procedimiento para Traer los datos de Subprograma de acuerdo al Programa
Select IdSubPrograma, (Cast (Codigo as nvarchar(100) ) + ' - ' + Nombre) as Descripcion from SubPrograma where 
IdPrograma=@intPrograma and Activo=1



GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_LogAccionesUsuario]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_LogAccionesUsuario]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_LogAccionesUsuario] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Matching_LogAccionesUsuario] 
/****************************************
Proceso que permite la creación del log de acciones por usuario
*/
@observacion nvarchar(400),@intIdUsuario int, @usuario as nvarchar(50)
AS

INSERT INTO [Matching_Log] VALUES
(NEWID(),@observacion, @intIdUsuario,  @usuario, GETDATE())


GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_LogProceso]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_LogProceso]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_LogProceso] AS' 
END
GO

ALTER PROCEDURE [dbo].[sp_Matching_LogProceso]
/* Proceso de registración de actualizaciones de los datos para utilizar en el cálculo de Matching */
@Estado nvarchar(40)
AS
INSERT INTO  [Matching_RegistroActualizacionProceso] (IDOperacion, Observaciones) values (newid(),@Estado)



GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_ProyectosNoVinculados]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_ProyectosNoVinculados]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_ProyectosNoVinculados] AS' 
END
GO
 ALTER PROCEDURE [dbo].[sp_Matching_ProyectosNoVinculados]  @Ejercicio int, @Mes int, @CodJurisdiccion nvarchar(10), @CodSaf nvarchar(10), @CodPrograma  nvarchar(10), @CodSubPrograma nvarchar(10)
/*--Procedimiento que retorna los proyectos que No tienen Matching Automático */
AS
  SELECT * from Matching_InfoPresupuestoAgrupado where IdentificadorProyectoSidif not in 
(SELECT  IdentificadorProyectoSidif FROM Matching_ProyectosVinculados)
AND MesSidif=@Mes AND EjercicioPresupuestario=@Ejercicio AND CodJurisdiccion=@CodJurisdiccion AND CodSAF=@CodSaf AND CodPrograma=@CodPrograma and CodSubprograma=@CodSubPrograma
GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_ProyectosVinculados]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_ProyectosVinculados]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_ProyectosVinculados] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_ProyectosVinculados]  @Ejercicio int, @Mes int, @AperturaProgramatica nvarchar(40)
/*--Procedimiento que retorna los proyectos que tienen Matching Automático */
AS
SELECT * FROM Matching_ProyectosVinculados
WHERE EjercicioPresupuestario=@Ejercicio AND MesSidif=@Mes
 AND AperturaProgramatica=@AperturaProgramatica

GO
/****** Object:  StoredProcedure [dbo].[sp_Matching_VincularProyecto]    Script Date: 14/11/2016 14:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Matching_VincularProyecto]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_Matching_VincularProyecto] AS' 
END
GO
ALTER PROCEDURE [dbo].[sp_Matching_VincularProyecto] @IdentificadorProyectoSidif nvarchar(100), @CodBapin int, @intIdUsuario int
AS
/*Proceso que realiza la vinculación Manual del proyecto por usuario*/
BEGIN TRAN
INSERT INTO Matching_ProyectosVinculados
SELECT Sidif.IdentificadorProyectoSidif, sidif.EjercicioPresupuestario, Sidif.MesSidif,
Sidif.AperturaProgramatica, Sidif.AperturaPresupuestaria, Sidif.CreditoInicial, Sidif.CreditoVigente, Sidif.Pagado, Sidif.Devengado, 
Bapin.CodigoProyectoBAPIN, Bapin.ProyectoDenominacion, Bapin.Estimado, Bapin.Realizado
FROM
	(SELECT * from Matching_InfoPresupuestoAgrupado
		  ) Sidif
		  ,
		  (
	SELECT pc.*,gb.Estimado, gb.Realizado,
	Cast(pc.NroProyecto as nvarchar(10))+gb.ActividadObra as AperturaPresupuestaria,
	pc.AperturaProgramatica + Cast(pc.NroProyecto as nvarchar(10))+gb.ActividadObra as IdentUnico
	FROM Matching_tmpProyectosCandidatos pc INNER JOIN
	Matching_tmpGastosBapin gb on pc.IdProyecto=gb.IdProyecto
	WHERE pc.NroProyecto IS NOT NULL AND gb.ActividadObra IS NOT NULL
	) Bapin 
	WHERE Bapin.CodigoProyectoBAPIN = @CodBapin
	AND Sidif.IdentificadorProyectoSidif=@IdentificadorProyectoSidif


	--Relizo la búsqueda del usuario
DECLARE @Usuario nvarchar(100)
SET @Usuario= (Select NombreUsuario from Usuario where IdUsuario=@intIdUsuario)
DECLARE @Observaciones nvarchar(200)
SET @Observaciones= 'Vincula Proyecto:' + @IdentificadorProyectoSidif + '- Bapin: ' + @Usuario
--Guardo la acción del usuario
Exec [sp_Matching_LogAccionesUsuario] @Observaciones, @intIdUsuario,@Usuario
COMMIT TRAN 

GO
