<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
   
    <connectionStrings>
        <add name="Contract.Properties.Settings.BAPIN3ConnectionString"
            connectionString="Data Source=FKTECH-RODRIGO\SQLEXPRESS;Initial Catalog=DB_BAPIN_III_12_07_2016;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Contract.Properties.Settings.BAPINIIIConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BAPIN;Persist Security Info=True;User ID=sa;Password=Bombastic10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
