<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="handlersConfiguration" type="Bapin.WindowsService.Configuration.HandlerConfigurationSection, Bapin.WindowsService" />
  </configSections>

  <connectionStrings configSource="ConnectionStrings.config">    
  </connectionStrings>
  
  <!-- Winservice operation/timing configuration -->
  <!-- Every operation has a name, enabled status can be true or false. -->
  <!-- polling interval is in seconds. -->
  <handlersConfiguration>
    <handlers>
      <!-- Handlers daily based on specific time use scheduledTime. Otherwise run every x interval, based on pollingInterval -->
      <!-- Triggers firing of update templates. -->
      <!-- CONFIG_LINE_ templates scheduledTime daily -->
      <handler name="templates" scheduledTime="00:00" type="Bapin.WindowsService.Handlers.TemplateHandler, Bapin.WindowsService" />
      <!-- Triggers inmediatly update template -->
      <!-- CONFIG_LINE_ messages (default pollingInterval="20")-->
      <!--handler name="templateImmediately" pollingInterval="20" type="Bapin.WindowsService.Handlers.TemplateInmediatelyHandler, Bapin.WindowsService" /-->
    
      <!-- Handlers daily based on specific time use scheduledTime. Otherwise run every x interval, based on pollingInterval -->
      <!-- Triggers firing of update templates. -->
      <!-- CONFIG_LINE_ codigo presupuestario scheduledTime daily -->
      <handler name="codigoPresupuestario" scheduledTime="12:58" type="Bapin.WindowsService.Handlers.CodigoPresupuestarioHandler, Bapin.WindowsService" />
    </handlers>
  </handlersConfiguration>
</configuration>