<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="handlersConfiguration" type="Bapin.WindowsService.Configuration.HandlerConfigurationSection, Bapin.WindowsService" />
  </configSections>

  <connectionStrings>
    <add name="Contract.Properties.Settings.BAPIN3ConnectionString" connectionString="Data Source=localhost;Initial Catalog=BAPIN;Persist Security Info=True;User ID=sa;Password=Bombastic10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- Winservice operation/timing configuration -->
  <!-- Every operation has a name, enabled status can be true or false. -->
  <!-- polling interval is in seconds. -->
  <handlersConfiguration>
    <handlers>
      <!-- Handlers daily based on specific time use scheduledTime. Otherwise run every x interval, based on pollingInterval -->
      <!-- Triggers firing of update templates. -->
      <!-- CONFIG_LINE_ templates scheduledTime daily -->
      <handler name="templates" scheduledTime="15:06" type="Bapin.WindowsService.Handlers.TemplateHandler, Bapin.WindowsService" />
      <!-- Triggers inmediatly update template -->
      <!-- CONFIG_LINE_ messages (default pollingInterval="20")-->
      <!--handler name="templateImmediately" pollingInterval="20" type="Bapin.WindowsService.Handlers.TemplateInmediatelyHandler, Bapin.WindowsService" /-->
    </handlers>
  </handlersConfiguration>
</configuration>